# (Makefile) local target configuration (* after all functions/vars are defined)

# spell-checker:ignore (make) MSDOS OSID findstring ifneq

has_help_target := $(findstring help,${MAKECMDGOALS})

# test for TARGET OS is WinOS; hard requirement and fails/panics otherwise
# * NOTE: SKIP target testing if `make ...` command contains a `help` target
ifeq (,${has_help_target})

ifneq (win,${TARGET_OSID})
$(call %error,WinOS TARGETs only (try `TARGET=x86_64-w64-mingw32`))
##.or. use $(error ...) * slightly faster, but less visible UI
endif

# * project requires compiler support for WinOS/GUI targets; reject console-only DOS targets
CC_targets_console_only := $(findstring msdos,${CC})
ifneq (,${CC_targets_console_only})
$(call %error,requires WinOS-GUI support (project not compilable by console-only compilers))
##.or. use $(error ...) * slightly faster, but less visible UI
endif

endif